{% extends 'base.html' %}


{% block title %}
    interface secretaire
{% endblock title %}



{% block content %}
<h2>Fond disponible: {{ fond }}</h2>
<div class='demande_decaisse'>

    <form action="{% url 'secretaire_app:secretaire-view'%}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Soumettre demande de decaissement">
    </form>

</div>

<div class='list_demande'>
  
    <h1>List et status de demande en cours</h1>
    <hr>
    <hr>
    {% for demande in list_demande %}
        <h3>{{ demande.nom  }}</h3>
        <h4><em>{{ demande.montant }}</em></h4>
        <h4>{{ demande.chantier}}</h4>
        <p>{{ demande.motif }}</p>

        <div class='status'>
        {% if demande.status == 'Approuvée' %}
       <h3 style='color:green;'>{{ demande.status }}</h3>

       <a href="{% url 'secretaire_app:valider-decaissement' demande.id %}">Validez déccaissement</a>
        {% elif demande.status == 'Décaissé' %}
        <h3 style='color:skyblue;'>{{ demande.status }}</h3>

       {% elif demande.status == 'Refusée' %}
        <h3 style='color:red;'>{{ demande.status }}</h3>
        {% else %}
        <h3 style='color:orange;'>{{ demande.status }}</h3>
       {% endif %}
        </div>
        
        <hr>
        <hr>
    {% endfor %}
    
</div>
    
{% endblock content %}
    
    